.PositionInput {
  margin-top: 1em;
}

.PositionInput label {
  font-size: 0.9em;
}

.position-coordinates {
  display: flex;
  gap: 1em;
  margin-top: 0.5em;
}

.position-coordinates label {
  display: flex;
  flex-direction: column;
}
