.PositionInput {
  margin-top: 1em;
}

.PositionInput label {
  font-size: 0.9em;
}

.position-coordinates {
  display: flex;
  gap: 1em;
  margin-top: 0.5em;
}

.position-coordinates label {
  display: flex;
  flex-direction: column;
}

/* Remove number input spinners */

/* Chrome, Safari, Edge, Opera */
.position-coordinates input::-webkit-outer-spin-button,
.position-coordinates input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.position-coordinates input[type="number"] {
  appearance: textfield;     /* Standard property */
  -moz-appearance: textfield; /* Firefox-specific */
}